<h3>Create an Account</h3>
<form action="/users" method="post" accept-charset="utf-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
    <label for="real_name">Real Name:</label>
    <input type="text" id="real_name" name="user[real_name]">
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]">
    <label for="bio">Bio:</label>
    <textarea id="bio" name="user[bio]"></textarea>
    <input type="submit" name="" value="submit">
</form>