<h2>Create a Sound</h2>
<form action="/sounds" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="text" name="sound[title]" placeholder="Track Name"><br>
    <input type="file" name="sound[soundfile]">
    <input type="submit" name="" value="Create sound">
</form>