<h2>Add a new sound.</h2>
<form action="/sounds/new" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="text" name="sound[title]" placeholder="Track Name">
    <input type="file" name="sound[soundfile]">
    <input type="submit" name="" value="Me Hungry for Sounds">
</form>