<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Soundifyerly 4 UR EARZ</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 id="site-title"><a href="/">Soundifyerly</a></h1>
    </div>
    <div class="row">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
